.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    h2{
        font-size: 40px;
        padding: 25px 0;

        span{
            color: #3FBA21;
        }
    }
   
    p{
        font-size: 20px;
        padding: 20px 150px;
        text-align: center;
        font-family: 'Karla';
        font-weight: 300;
        font-size: 30px;
        color: #464646;
    }
}

.mission{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    background-color: #3FBA21;
    color: white;
    h2{
        font-size: 40px;
        padding: 25px 0;
        font-family: 'Merriweather';
    }
    p{
        font-size: 20px;
        padding: 20px 150px;
        text-align: center;
        font-family: 'Merriweather';
        font-weight: 300;
        font-size: 30px;
    }
}

.reason{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    h2{
        font-size: 40px;
        padding: 25px 0;
        color: #3FBA21;
    }
    p{
        font-size: 20px;
        padding: 20px 150px;
        text-align: center;
        font-weight: 300;
        font-family: 'Karla';
        size: 30px;
    }
}

.team{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    background-color: #3FBA21;
    font-family: 'Merriweather';
    font-weight: 700;
    size: 45px;
    color: white;
    h2{
        font-size: 40px;
        padding: 25px 0;
    }
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 100px;
        padding: 25px 500px;
        flex-wrap: wrap;
        list-style: none;
        font-weight: 300;
        font-size: 20px;
    }
}

.start{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    h2{
        font-size: 40px;
        padding: 25px 0;
    }
    p{
        font-size: 20px;
        padding: 20px 150px;
        text-align: center;
    }
    button{
        margin-top: 30px;
        padding: 15px;
        background-color: #3FBA21;
        color: #FFFFFF;
        border-radius: 20px ;
        height: 60px;
        width: 150px;
        border: none;
        box-shadow: 2px 2px 2px 2px rgba($color: #000000, $alpha: 0.2);
        font-family: 'Karla';
        font-weight: 300;
    }
}